body {
    background-color:rgb(0, 4, 27);
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    border-style: double;
    border-color: rgb(212, 0, 255);
    border-width: 10px;
    border-radius: 15px;
}

nav > button{
    width: 200px;
    height: 50px;
}

#content{
    background-color:rgb(0, 4, 27)
}

#content > p {
    color: white;
}

.title-card {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.title-card > p {
    font-size: 48px;
    color: white;
}

.subtitle-card {
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 300px;
}

.subtitle-card > p {
    font-size: 30px;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.content-card {
    background-color: rgb(59, 59, 59);
    color: white;
    border-style: solid;
    border-width: 4px;
    border-color: grey;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(212, 0, 255);
    margin: auto;
    margin-bottom: 40px;
    justify-content: space-evenly;
    padding: 30px;
    width: 700px;
    text-align: center;
}

.content-card > p {
    margin: 5px;
    font-size: 22px;
}

.content-card > h2 {
    font-size: 36px;
    margin: 10px;
    margin-bottom: 20px;
}

.content-card > h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.content-card > img {
    height: 300px;
    width: 300px;
    margin: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
}